<div class="card" style="width: 20rem;">
   <img src="https://1.bp.blogspot.com/-sGKxNREpFHk/XlPpTcuIPoI/AAAAAAAANvA/bgSkasjmf_c9ydaBqiPuBpLjopAGNwnRgCEwYBhgL/s1600/3laddu.jpg" class="card-img-top" alt="...">
   <div class="card-body">
      <p class="card-text">This space will be used for Google Adsense and is there just for testing purpose</p>
   </div>
</div>
<br><br>
<div class="card" style="width: 20rem;">
   <img src="https://1.bp.blogspot.com/-sGKxNREpFHk/XlPpTcuIPoI/AAAAAAAANvA/bgSkasjmf_c9ydaBqiPuBpLjopAGNwnRgCEwYBhgL/s1600/3laddu.jpg" class="card-img-top" alt="...">
   <div class="card-body">
      <p class="card-text">This space will be used for Google Adsense and is there just for testing purpose</p>
   </div>
</div>
<br><br>
<div class="card" style="width: 20rem;">
   <img src="https://1.bp.blogspot.com/-sGKxNREpFHk/XlPpTcuIPoI/AAAAAAAANvA/bgSkasjmf_c9ydaBqiPuBpLjopAGNwnRgCEwYBhgL/s1600/3laddu.jpg" class="card-img-top" alt="...">
   <div class="card-body">
      <p class="card-text">This space will be used for Google Adsense and is there just for testing purpose</p>
   </div>
</div>
