{% extends "post/base.html" %}

{% block body_block %}
    
    <div class="container">
        <br>
        <br>
        <div style="width:100%; background-color:#f5f1f1;" class="container border border-primary">
            <br>
            <h1 class="text-center" style="font-family: 'Inknut Antiqua', serif;"> 
                {{post.title}}
            </h1>
            <p class="text-center">-{{post.created_on}}</p>
            <div class="text-center">
            {% block share_button %}
                {%include "post/share_button.html" %}
            {% endblock %}
            </div>
            <br>
            
             <img src={{post.thumbnail.url}} style=" display: block; margin-left: auto;
              margin-right: auto; width: 50%;"  class="img-fluid ">
            <br>
            
            <br>
            <div class="container text-">
                <p class="text-justify" style="font-family: 'Sahitya';">
                {{post.text|safe}}
                </p>
            </div>
            <br>
            <br>
            <strong>Tags: </strong>
            {% for tag in post_tags %}
            {% if tag == '' %}
            {% else %}
            <a href="{% url 'search'  %}?keywords={{ tag }}" style="text-decoration: none;" >
                #{{tag}}
            </a>
            {% endif%}
            {% endfor %}
            <br><br>
        </div>
        <br>
        <br>
    </div>
        <div id="disqus_thread" class="container"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://localhost-npjxfxm61v.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            
{% endblock %}